<%- include('../partials/header',{user}) %>


<h1 class="display-5"><%= recipe.recipe_name %></h1>
<div class="center">

    <short> created by: <%= recipe.user.username %></short>
</div>
<div class="center">
    <% if(user != null && recipe.user.username === user.username){ %>
        <form method="POST" action='/recipes/<%=recipe.id%>?_method=DELETE'>
            <input hidden type="text" name="recipe_name" value="<%= recipe.recipe_name %>">
            <button type="submit">Delete Recipe</button>
        </form>
        <a href="/recipes/<%= recipe.id %>/edit">Edit Recipe</a>
    <% }%>
       
</div>

<h3>Description: <%=recipe.description%></h3>
<h3>Cook Time: <%=recipe.cook_time %></h3>
<h3>Servings: <%=recipe.servings%></h3>
<h3>Ingredients: </h3>
<a href="/recipes/<%=recipe.id%>/ingredients">Ingredient nutritional facts</a>

<ul>
    <% combined.forEach((index) => { %>
        <li><%=index%></li>
    <%})%>
</ul>

<h3>Instructions: <%=recipe.instructions%></h3>








<%- include('../partials/footer') %>